html {
  margin: 0;
  padding: 0;
}

/* Set the canvas to be at the center of screen */
body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

canvas {
  display: block;
}
